<nav class="menu"><ul>
<% for (var i = 0; i < locals.files.length; i++) { var file = files[i]; %>
	<li><a class="md" data-date="<%= file.data.date %>" data-tags="<%= file.data.tags %>" data-name="<%= file.name %>" href="#<%= file.name %>"><%= file.data[locals.lang].title %></a><% } %>
</ul></nav>